src/main/mule/business-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="7fc2baae-4be7-464b-8a79-79d78234fdd0" >
		<file:connection workingDir="src/main/mule" />
	</file:config>
	<flow name="business-logicFlow" doc:id="429895a3-e7c6-4491-820a-a97fe75c5bed" >
		<logger level="INFO" doc:name="Logger" doc:id="a8aa7714-a3a4-4e47-b230-5dd2ccefcf71" message="#[payload]"/>
	</flow>
</mule>
